{% extends 'base.html' %} {% block content %}
<script
  src="https://kit.fontawesome.com/6b78d14714.js"
  crossorigin="anonymous"
></script>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center mb-5">
      <h2 class="heading-section">Contact Us</h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="wrapper">
        <div class="row mb-5">
          <div class="col-md-3">
            <div class="dbox w-100 text-center">
              <div
                class="icon d-flex align-items-center justify-content-center"
              >
                <span class="fa fa-map-marker fa-8x text-danger mb-5"></span>
              </div>
              <div class="text">
                <p>
                  <span>Address:</span> 198 West Broad Street, Suite 721 New
                  York NY 10016
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="dbox w-100 text-center">
              <div
                class="icon d-flex align-items-center justify-content-center"
              >
                <span class="fa fa-phone fa-8x text-danger mb-5"></span>
              </div>
              <div class="text">
                <p>
                  <span>Phone:</span>
                  + 816 705 855 5
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="dbox w-100 text-center">
              <div
                class="icon d-flex align-items-center justify-content-center"
              >
                <span class="fa fa-paper-plane fa-8x text-danger mb-5"></span>
              </div>
              <div class="text">
                <p>
                  <span>Email:</span>
                  <a
                    href="/cdn-cgi/l/email-protection#80e9eee6efc0f9eff5f2f3e9f4e5aee3efed"
                    ><span
                      class="__cf_email__"
                      data-cfemail="5930373f361920362c2b2a302d3c773a3634"
                      >info@redfleek.com</span
                    ></a
                  >
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="dbox w-100 text-center">
              <div
                class="icon d-flex align-items-center justify-content-center"
              >
                <span class="fa fa-globe fa-8x text-danger mb-5"></span>
              </div>
              <div class="text">
                <p><span>Redfleek</span> <a href="#">redfleek.com</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
