{% extends 'base.html' %} {% block content %}
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ movie.image.url }}" class="img-fluid rounded-start" alt="" />
    </div>
    <div class="col-md-8">
      <div class="jumbotron m-3">
        <h1 class="display-4">RedReview by {{ profreview.user.username }}</h1>
        <p class="lead">{{ profreview.date }}</p>
        <hr class="my-4" />
        {% if error %}
                <div class="alert alert-danger mt-3" role="alert">
                    {{ error }}
                </div>
                {% if user.is_staff %}
          <a
            href="{% url 'createprofreview' movie.id %}"
            class="btn btn-danger"
          >
            Post a RedReview
          </a>
          {% endif %}
          {% if not user.is_staff %}
          <a href="{% url 'becomeredreviewer' %}" class="Link">
            Become a RedReviewer!
          </a>
          {% endif %}
                {% else %}
                <p>{{ profreview.text|linebreaksbr}}</p>
                {% endif %}

        <!-- <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button"
            >Learn more</a
          >
        </p> -->
        {% if user.is_authenticated and user == profreview.user %}
        <a
          class="btn btn-primary me-2"
          href="{% url 'updateprofreview' profreview.id %}"
          >Update</a
        >
        <a
          class="btn btn-danger"
          href="{% url 'deleteprofreview' profreview.id %}"
          >Delete</a
        >
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}

<!-- <div class="card-body">
  <h5 class="card-title">{{ movie.title }}</h5>
  <p class="card-text">{{ movie.description }}</p>
  <p class="card-text">
    {% if movie.url %}
    <a href="{{ movie.url }}" class="btn btn-primary"> Movie Link </a>
    {% endif %} {% if user.is_authenticated %}
    <a href="{% url 'createreview' movie.id %}" class="btn btn-primary">
      Add Review
    </a>
    {% endif %}
  </p>
  <hr />
  <h3>Reviews</h3>
  <ul class="list-group">
    <li class="list-group-item pb-3 pt-3">
      <h5 class="card-title">Review by {{ review.user.username }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ review.date }}</h6>
      <p class="card-text">{{ review.text }}</p>
      {% if user.is_authenticated and user == review.user %}
      <a
        class="btn btn-primary me-2"
        href="{% url 'updatereview' review.id %}"
        >Update</a
      >
      <a class="btn btn-danger" href="{% url 'deletereview' review.id %}"
        >Delete</a
      >
      {% endif %}
    </li>
  </ul>
</div> -->
